---
sitemap: false
---

/* open-sans-300 - latin */
@font-face {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  src: url('{{ "/assets/fonts/OpenSans/open-sans-v18-latin-300.eot" | absolute_url }}'); /* IE9 Compat Modes */
  src: local(""),
    url('{{ "/assets/fonts/OpenSans/open-sans-v18-latin-300.woff2" | absolute_url }}')
      format("woff2"),
    /* Super Modern Browsers */
      url('{{ "/assets/fonts/OpenSans/open-sans-v18-latin-300.woff" | absolute_url }}')
      format("woff");
}

/* open-sans-regular - latin */
@font-face {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  src: url('{{ "/assets/fonts/OpenSans/open-sans-v18-latin-regular.eot" | absolute_url }}');
  src: local(""),
    url('{{ "/assets/fonts/OpenSans/open-sans-v18-latin-regular.woff2" | absolute_url }}')
      format("woff2"),
    /* Super Modern Browsers */
      url('{{ "/assets/fonts/OpenSans/open-sans-v18-latin-regular.woff" | absolute_url }}')
      format("woff");
}

/* text */

$body-font: "Georgia", "Verdana", "Georgia";
$heading-font: "Times New Roman", "Verdana", "Georgia";

/* Colors */

$dark-background: hsla(114, 79%, 42%, 0.75);
$light-text: hwb(0 100% 0%);
$light-link: #fdf8f4;
$light-link-hover: #fff;
$medium-background: #3c8eeb;
$light-background: #f7e4ef;
$dark-text: #444444;
$code: #3c1553;
$muted-text: #100909;

/* Image Heights */

$parallax-height: 350px;

/* Viewer proportions */

$viewer-height: 100%;
$max-width: 100%;

@import "facets";
