---
layout: generic_collection_item
image_viewer: 'openseadragon'
pagination: true
meta:
  - label: 'Original Artist'
    value: page.original_artist_name
  - label: 'Original Source'
    value: page.orginial_source
  - label: 'Originial Art Creation Date'
    value: page.original_created_date
  - label: 'Re-presented Artist'
    value: page.re_presented_artist_name
  - label: 'Re-presented Art Description'
    value: page.re_presentated_art_description
  - label: 'Re-presented Art Materials Used'
    value: page.re_presented_materials_used
  - label: 'Re-presented Creation Date '
    value: page.re_presented_created_date
  - label: 'Re-presented Art Location'
    value: page.created_location
   
---
